<center>
<%= form_for(@card) do |f| %>
  <% if @card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@card.errors.count, "error") %> prohibited this card from being saved:</h2>

      <ul>
      <% @card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">

  
    <%#= f.label :title %> 
    <%#= f.text_field :title %> 

   <!--  <input type="file" accept="image/*" capture="camera"> -->
  
  <%#= f.label :sender_email %> <br>
    <%= f.text_field :sender_email, placeholder: "Generous Sender Email"%> 
      <%#= f.label :recipient_email %> 
    <%= f.text_field :recipient_email, class: "recipient", placeholder: "Lucky Recipient Email"%> <br>
      <%#= f.label :sender_name %> <br>
    <%= f.text_field :sender_name, placeholder: "Your Name" %> 
      <%#= f.label :recipient_name %> 
    <%= f.text_field :recipient_name, class: "recipient", placeholder: "Recipient Name" %> <br>
    <%#= f.label :message %> <br>
       <div class="photo">
  <%#= f.label :photo %> 
    <%= f.file_field :photo, placeholder: "Upload Photo"%>


    <%#= form_tag(multipart: true) do %>
  <%#= file_field_tag 'photo' %>
<%# end %>
    </div><br>
  <div class="submit-card">
  <h2>Include a message!</h2>
    <%= f.text_area :message %> <br>
    <%= f.submit "Send postcard!" %>
  </div>
  </div>
<% end %>
</center>



