<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag '/favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="keywords" content="postcard, electronic postcard, Flatiron School, web applications, Koren Leslie Cohen, Edward Warren, Bianca Tompkins, Ruby005"/>
  <meta name="description" content="FlatironPostcard is a web application that allows you to send a personalized electronic postcard to family and friends. Share the &hearts;">
  <title>FlatironPostcard - Share the &hearts;!</title>
</head>
<body>
  <div id="container">
    <%= yield %>
    <footer>
      <%= render "layouts/footer" %>
    </footer> 
  </div>
</body>
</html>